<!DOCTYPE html>
<html lang="en">
	<head>
         <meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <title>Algcomposer!</title>
         <link rel="stylesheet" href="http://flip.hr/css/bootstrap.min.css">
		 <link rel="stylesheet" href="stylesheet.css">
		 <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
 	</head>
	
 <body>
         
	 <div class="container">
			 
		 <div class="hero-unit span12">
				 <h1>Algcomposer - Riff Editor!</h1>

				 <p>Select which method you wish to use.</p>
				 <!--<p><a class="btn btn-primary btn-large" align="middle">Super important &raquo;</a></p>
				 -->
				 <form class="form-vertical" name="in_form_ation" method="POST" action="/submit">
					 <div class="controls">

						 <select name="options" ID="options">
							 <option value="ck">Change key</option>
							 <option value="ckr">Add elements of randomness</option>
						 </select>
						 <select name="root" ID="root">
							 <option value="af">A flat/G sharp</option>
							 <option value="a">A</option>
							 <option value="bf">B flat/A sharp</option>
							 <option value="b">B</option>
							 <option value="c">C</option>
							 <option value="df">D flat/C sharp</option>
							 <option value="d">D</option>
							 <option value="ef">E flat/D sharp</option>
							 <option value="e">E</option>
							 <option value="f">F</option>
							 <option value="gf">G flat/F sharp</option>
							 <option value="g">G</option>
						 </select>
						 <select name="scale" ID="scale">
							 <option value="major">Major</option>
							 <option value="minor">Minor</option>
							 <option value="harmonic">Harmonic Minor</option>
							 <option value="pentatonic">Pentatonic</option>
							 <option value="dorian">Dorian</option>
							 <option value="mixolydian">Mixolydian</option>
						 </select>
						 <p>
						 <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" name="option" id="option">
							 <li><a tabindex="-1" href="#">Change Key</a></li>
							 <li><a tabindex="-1" href="#">Change Key with elements of randomness</a></li>
						 </ul>
						 -->
						 </p>
						 <br>	
						 <div class="row">
							 <div class="span6">
								 <h2>Input</h2>
							
								<textarea name="guitar_tab" id="guitar_tab" class="span6" rows="25"
								onfocus="if (this.value==this.defaultValue) this.value = ''"
								onblur="if (this.value=='') this.value = this.defaultValue">Enter text-based guitar tablature.</textarea>

								<button class="btn btn-large btn-block btn-inverse" type="submit">Execute operation! &raquo;</a>

							 </div>
				   
							 <div class="span6">
								
								<h2>Output</h2>
							
								<textarea name="output_box" id="output_box" class="span6" rows="25" 
								onfocus="if (this.value==this.defaultValue) this.value = ''"
								onblur="if (this.value=='') this.value = this.defaultValue">View output here</textarea>
							 </div>

						 </div><!-- .row -->
					 
					 </div> <!-- .controls-->
				 
				 </form>

		</div><!-- .hero-unit -->

	 </div><!-- .container -->

 </body>

</html>
